* {
	box-sizing: border-box;
	margin: 0;
	font-family: "fira code", sans-serif;
}

:root {
	--background: #282a36;
	--current_line: #44475a;
	--foreground: #f8f8f2;
	--comment: #6272a4;
	--cyan: #8be9fd;
	--green: #50fa7b;
	--orange: #ffb86c;
	--pink: #ff79c6;
	--purple: #bd93f9;
	--red: #ff5555;
	--yellow: #f1fa8c;
	--page-padding: clamp(20px, 10vw, 10%);
}

body {
	margin: 0;
	background: var(--background);
	color: var(--foreground);
	width: 100%;
	height: 100vh;

	display: flex;
	flex-direction: column;
}

header.nav {
	display: flex;
	align-items: center;
	height: clamp(70px, 5vh, 80px);
	background: var(--purple);
	padding: 0 var(--page-padding);

	box-shadow: 0 2px 5px -1px #000a;
	z-index: 3;

	h1.title {
		font-size: 1.4em;
		font-family: "Fira Code";
		color: var(--background);
	}

	button#start {
		position: relative;
		padding: 8px 20px;
		margin: 0 5px;
		border: none;
		background: var(--current_line);
		border-radius: 5px;
		font-weight: bold;
		color: var(--yellow);

		&:hover {
			opacity: 0.8;
		}
	}
	#menu-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		background: transparent;
		border: none;
		height: 40px;
		width: 40px;
		transition: all 400ms ease;

		&:hover {
			transform: rotate(180deg);
		}

		&:active {
			transform: scale(2);
		}

		img {
			height: 100%;
			width: 100%;
		}
	}
}

header.settings {
	display: flex;
	align-items: center;
	background: var(--current_line);
	height: 1px;
	overflow: hidden;
	transition: all 300ms ease;

	* {
		display: none;
	}

	&.active {
		display: flex;
		padding: 15px;
		height: 100px;

		* {
			display: flex;
		}
	}

	button {
		position: relative;
		top: 8px;
		padding: 8px 20px;
		margin: 0 5px;
		border: none;
		background: var(--orange);
		border-radius: 5px;
		font-weight: bold;
		color: var(--background);

		&:hover {
			opacity: 0.8;
		}

		&#generate {
			background: var(--yellow);
		}
	}
}

.flex-1 {
	flex: 1;
}

.select {
	display: flex;
	flex-direction: column;
	margin: 0 15px;
	position: relative;

	label {
		font-size: small;
		bottom: -10px;
	}

	input {
		padding: 8px 20px;
		border: none;
		border-radius: 5px;
		background: var(--background);
		color: white;
		outline: none;
	}

	select {
		padding: 8px 20px;
		border: none;
		border-radius: 5px;
		background: var(--background);
		color: white;
		outline: none;
	}
}

main {
	flex: 1;
	padding: 20px var(--page-padding);

	.bars-container {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: flex-end;

		.bar {
			flex: 1;
			display: flex;
			flex-direction: column;
			align-items: center;
			box-shadow: 0 0 5px -1px #0008;

			.bar-height {
				width: 100%;
				flex: 1;
				background: var(--cyan);
			}

			.bar-value {
				height: 30px;
				display: flex;
				align-items: center;
				justify-content: center;
				font-weight: bold;
			}
		}
	}
}
